@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    body {
        background-image: url('~/wwwroot/bg.png');
    }
</style>
<div class="text-center">
    <h1>Welcome to Our Library.</h1>
    <p>Here, We provide you with books that help you grow as individuals.</p>
    <p>We are proud to be one of the top libraries in the city.</p>
</div>
<center>

<div class="bookimg">
    <img src="~/table.png">
</div>
 </center>

